* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* Based on the spec picture we should be taking up the entire screen here */
}

.imSide {
    background-image: url(./assets/img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-color: white;
    height: 100%;
    width: 37%;
    /* Rough calculation from measuring image with rulers... obviously I could customize but eh */
    display: flex;
    color: white;
    justify-content: center;
}

.splash {
    display: flex;
    flex-direction: column;
}

.credit {
    align-self: flex-end;
}

a:link,
a:visited {
    color: white;
}

.formSide {
    height: 100%;
    width: auto;
}