* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    /* Based on the spec picture we should be taking up the entire screen here */
}

.imSide {
    background-image: url(./assets/img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-color: white;
    width: 37vw;
    /* Rough calculation from measuring image with rulers... obviously I could customize but eh */
    display: flex;
    color: white;
    justify-content: center;
}

.splash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .62);
    height: 20%;
    width: 100%;
    position: relative;
    top: 100px;
}

.splash>img {
    max-width: 5em;
}

.credit {
    position: absolute;
    bottom: 0;
}

.credit a {
    color: white;
}

.formSide {
    height: 100%;
    width: calc(100vw - 37vw);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(249, 250, 252);
}

.formArea {
    background-color: white;
    height: 300px;
    box-shadow: 0 10px 6px grey;
}

form {
    display: flex;
    flex-direction: column;
}